.navbar {
    background: black;
    margin-top: -80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar.active {
    background: black;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-icon {
    width: 200px;
}

.fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
}

.nav-links {
    background: transparent;
    color: white;
    outline: 0 none;
    display: flex;
    font-family: "Lucida Console", Monaco, monospace;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 12px 15px;
    position: relative;
    transition: all 0.75s ease-in-out 0s;
    cursor: pointer;
}

.nav-links::after,
.nav-links::before {
    border-radius: 4px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 3;
}

.nav-links::before {
    border-bottom: 2px solid #9945FF;
    border-left: 2px solid #03E1FF;
    transform-origin: 0 100% 0;
}

.nav-links::after {
    border-right: 2px solid #14F195;
    border-top: 2px solid #DC1FFF;
    transform-origin: 100% 0 0;
}

.nav-links:hover::after,
.nav-links:hover::before {
    transform: scale(1);
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.navbar-container #how-to-use {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: -60px;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: #fff;
        padding: 14px 20px;
        border: 1px solid #fff;
        transition: all 0.3s ease-out;
    }

    .nav-links-mobile:hover {
        background: #fff;
        color: #242424;
        transition: 250ms;
    }

    .navbar-icon {
        position: absolute;
        top: -60px;
        left: 60px;
    }
}