* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.upload-profile {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

h1 {
  font-size: 100px;
}

h2 {
  margin-top: 100px;
  font-size: 75px;
  text-align: center;
}

p {
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}


.name-text {
  color: #0055ff;
  transition: transform 1s;
  /* Animation */
}

.name-text:hover {
  transform: scale(1.5);
}

.flex-container {
  display: flex;
  margin-bottom: 100px;
}

.flex-child {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

.title-paragraph {
  font-size: 50px;
  padding-bottom: 10px;
  border-bottom: 5px solid #0055ff;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 35%;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 33.3%;
  }

  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 50px;
  }

  p {
    font-size: 17px;
  }

  .title-paragraph {
    font-size: 35px
  }
}

@media screen and (max-width: 720px) {
  .column {
    width: 50%;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 35px;
  }

  p {
    font-size: 13px;
  }

  .title-paragraph {
    font-size: 25px
  }
}

.react-icon {
  -webkit-animation: spin 10s linear 20;
  -moz-animation: spin 10s linear 20;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}